<meta charset="utf-8">
<body>
<div class="navbar-inner sliding">
    <div class="left">
        <a href="inicio.html" class="link back">
            <i class="icon icon-back"></i>
            <span class="ios-only">Back</span>
        </a>
    </div>
</div>

<h2>The select Element</h2>
<form action="/action_page.php">
    <select name="semesters">
        <option value="volvo">2018</option> <!-- Acceso a la base de datos -->
    </select>
    <br><br>
    <input type="submit">

</form>


</body>