<meta charset="utf-8">
	<div class="block block-strong">
		<p class="row">
			<input type="submit" value="Agregar nuevo semestre" class="row button button-big button-fill button-raised color-green"/>
		</p>
		<p class="row">
		<input type="submit" value="Modificar semestre existente" class="row button button-big button-fill button-raised color-green"/>
		</p>
		<p class="row">
		<input type="submit" value="Consultar un semestre" class="row button button-big button-fill button-raised color-green"/>
		</p>
	</div>	